p {
    margin-left: 50px; 
    font-size: 25px; 
    line-height: 1em;
}
*{
   background-color: bisque;
}
img {
width: 300px;
height: 240px; 
padding: 4px;
border-radius: 10%;
border: 5px solid rgb(110, 223, 4);

}
h1{
font-size: 70px;
text-align: center;
border:rgb(110, 223, 4) solid 5px;
margin: 0 auto;
padding: auto;
background-color: rgb(250, 134, 134);
width: 300px;
border-radius: 30%;
}
h2{
font-size: 50px;
color: royalblue;

}